<!DOCTYPE html>
<html>
    <head>
        <!-- 클라이언트 단에서 테스트 할 때와 java-spring boot application으로 수행할 때 링크 값 다름. -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel='stylesheet' href='../static/css/style.css'>
    </head>
    <body>
        <div class ='main-frame-Div'>
            <div class='search-Div'>
                <input class="search-input" type="text" placeholder="아이디를 입력해주세요">
                <button class="search-btn">BTN</button>
            </div>
            <ul class='search-ul'></ul>
        </div>
        <button class="temp">TEMP</button>
        <script src="../static/js/index.js"></script>
        <script src="../static/js/fifaonAPI-classes.js"></script>
        <script src="../static/js/fifaonAPI-functions.js"></script>
    </body>
</html>
